@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: inherit;
  }

  #root {
   font-size: 16px;   
   height: inherit;
   display: flex;
   flex-direction: column;
   font-family: 'Open Sans', sans-serif;
  }
  
  .body-flex {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  
  h1 {
      margin: 0;
      font-family: 'Encode Sans', sans-serif;
      padding-top: .7rem;
      height: 5rem;
      font-size: 2.5em;
      color: #4e3199;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
      position: static;
      z-index: 1;
  }
  
  button {
      height: 2.5rem;
      font-size: 1rem;
      border: 0;
      background-color: white;
  }

  .nav-buttons {
    font-size: 0.8em;
    margin: 0.5rem;
  }

  .fa-sign-out-alt, .fa-grip-lines  {
    color: #4e3199;
  }
  
  
  h2 {
      font-weight: 100;
      color: #4e3199;
      font-size: 1.5em;
  }
  
  h3 {
    padding-bottom: 0.5em;
    font-size: 1.3em;
  }
  
  .subSection h2 {
    text-align: center;
  }
  
  header {
    background-color: #ffffff;
  }
  
  #hamburger-menu {
    display: inline;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: #f2eefa;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), inset 0px 11px 8px -10px #CCC;
    margin: 0.5rem 0rem;
    font-size: 1.5rem;

  }
  
  .dropdown-content a {
    color: #6040b1;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #e8e3f0}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  main {
    /* padding-left: 1rem; */
  }
  
  p {
      line-height: 1.5;
  }

  span {
    font-weight: 900;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  form input[type=text], form input[type=password] {
    padding: 10px;
    margin-top: 1em;
    font-size: 17px;
    border-radius: 0.4em;
    border: none;
    float: left;
    width: 80%;
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  }

  .login h2 {
    text-align: left;
  }

  .login form {
    margin-bottom: 2rem;
  }
  
  form button, .card button {
    float: left;
    padding: 10px;
    margin-top: 1em;
    background: #6040b1;
    color: white;
    font-size: 1rem;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  }

  form button {
    width: 20%;
  }

  .card button, .login button {
    width: 10rem;
  }
  
  #reset-btn {
    width: 5em;
  }

  form button:hover, .card button:hover {
    background: #4e3199;
  }
  
  form::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #main-element {
    flex: 1;
    background-color: #f2eefa;
    background-image: url("./img/husky-background-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50rem;
    background-blend-mode: overlay;
  }
  
  #nav-element {
    padding: 1rem;
    background-image: linear-gradient( #5637a4, #190743);
  
    align-content: center;
    height: 100%;
    display: none;
  }
  
  
  .flex-section {
    display: flex;
  }
  
  .subSection {
    margin: 1em;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    background-color: #f7f4fc;
    border-radius: 5px;
    flex-basis: 100%;
  }
  
  .subSection2 {
    margin: 1em;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    background-color: #f7f4fc;
    border-radius: 5px;
    flex-basis: 100%;
  }
  
  .schedule {
    margin: 2em;
  }
  
  .profile {
    margin: 0.8em;
    padding: 0.8em;
    background-color: #e8e3d3;
    border-radius: 5px;
  }
  
  .card {
    padding-top: 10px;
    padding-bottom: 0.5em;
    margin-top: 10px;
    border-top: .5px solid rgb(213, 213, 213);
    background-color: transparent;
  }
  
  .clickable:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }
  
  .subSection .card {
    text-align: center;
  }
  
  .card p {
      color: gray;
  }
  
  .logo {
    color: white;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    margin-top: .5em;
    margin-bottom: 1.5em;
    border-bottom-color: 10px solid white;
  
  }
  
  img {
    height: 2rem;
  }
  
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 1em;
  }
  
  nav li a {
      display: block;
      color: white;
      padding: .8em 1.5em;
      text-decoration: none;
  }
    
  nav li a:hover {
      background-color: #422688;
      border-radius: .3em;
      border: .3px solid #000000;
  }
  
  .active {
      background-color: #6046a4;
      border-radius: .3em;
  }
  
  .panel {
    padding: 18px;
    background-color: #faf8fe;
    overflow: hidden;
  }

  .clickable .added {
    background: #9a93a9;
  }

  .viewAdded {
    color: #4e3199;
    padding: 0.8rem;
    margin-top: 0.5rem;
  }
  
  .hidden {
    display: none;
  }

  .loginBox {
    flex-direction: column;
    display: flex;
  }
  
  @media (min-width: 700px) {
    .subSection {
      flex-basis: auto;
    }
    #nav-element {
      display: block;
    }
    #main-element {
      background-image: url("./img/husky-background-medium.png");
    }
    #hamburger-menu {
      display: none;
    }
    h1 {
      font-size: 2em;
      padding: 1rem .5em .8rem .8em;
    }
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.17em;
    }
    .dropdown {
      display: none;
    }
    .login {
      width: 45%;
    }
  }
  
  @media (min-width: 1200px) {
    #element-2 {
      background-image: url("./img/husky-background-large.png");

    }
  }